<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>@me chat</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <h1>@me chat</h1>

    <div id="app">
      <ol>
        <li v-for="chat in chats">
          <strong>{{ chat.user }}</strong>: {{ chat.message }}
        </li>
      </ol>

      <input v-model="message" type="text" />

      <button @click="sendMessage(message)" :disabled="!message" class="button">
        Send Message
      </button>
    </div>

    <script src="main.js"></script>

    <script>
      app.mount("#app");
    </script>
  </body>
</html>
